@charset "utf-8";
.picker-input{
    width: 240px;
}

.navbar-form{
    width: 80%;
}

html,
body {
	width: 100%;
	height: 100%;
}

.open-frame {
	width: 100%;
	height: 110%;
	overflow: hidden;
	display: block;
}