@charset "utf-8";
a.toolbar {
    display: inline-block;
    text-decoration: none;
    padding-top: 1px;
}

a.t-add span {
    background-position: -124px -24px;
}

a.toolbar span {
    background: url(/resources/node-ebook-manage/images/common/images/toolbar-icon3.png) no-repeat;
    display: inline-block;
    line-height: 24px;
    padding-left: 24px;
    font-size: 15px;
    color:black;
}

a.t-add span {
    background-position: -124px 0;
}

a.t-sub span {
    background-position: -124px -24px;
}

.gray-btn {color: #ccc;}

.tab.dataTable.display tbody tr.odd{background-color: white;}

.idx-div {
    text-align: left;
    width: 400px;
}
/*banner-edit*/

.M-region {
    padding: 20px 35px 14px 35px;
    /* height: 420px; */
}

.table-region {
    padding: 20px 0 14px 35px;
    width:1600px;
}

.M-region .s1 {
    padding-right: 10px;
    text-align: right;
    display: inline-block;
    float: left;
    line-height: 34px;
    width: 170px;
}

.M-region .s2 {
    line-height: 20px;
    color: #666666;
    display: inline-block;
    float: left;
}

.M-region li {
    height: 55px;
    clear: both;
    text-align: left;
    padding-top: 5px;
    font-size: 14px;
}

li.drop-col{margin-left:30px; }

.baseInfo {
    padding-left: 35px;
    width: 360px;
    height: 20px;
    background-color: rgb(240,240,240);
    text-align: center;
    margin-bottom: 10px;
}

textarea,
input {
    font-size: 14px;
    border: 1px solid #ccc;
}

.s2 input {
    width: 200px;
    vertical-align: middle;
}
.dis-vertical {margin-top: 80px;}

.table-image {width:160px; height:50px;}

.M-region .img-li {
    height: 105px;
}

.img-li img{
    width:146px;
    height:72px;
    margin:10px 0 20px 90px;
}

.M-region .s3 {
    width: 200px;
}

.isdisplay {
    display:none;
}

.bookImg { margin: 20px 10px 0 0}

.bottomDiv {  width: 215px;  }

.btn-page {margin-left:100px;}

li .margin-bottom {float: left;}

.input_common {  width: 220px;  }

.top-border{height:50px;}

#example .top-border td {
    margin-left: 18px;
    border: 1px solid #dddddd;
}

#example .top-border span {
    margin-left: 18px;
}

.tab-div{margin-top: 110px;}

.title-th{
    text-align: center;
    height: 36px;
    line-height: 36px;
    padding: 0;
}

.add-li div{
    display:inline-block;
    margin-left:25px;
}



